@import '../scss-base.scss';
.pg-comments{
  .parent{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 125px;
    overflow: hidden;
    z-index: 99;
    background-color: #fff;
    .cp-story-box{
      width: 100%;
      max-width: 640px;
      @include centerX();
      display: block;
      .title{
        height: 42px;
        @include ellipsis(2);
      }
    }
    .cp-comment-box{
      width: 100%;
      max-width: 640px;
      @include centerX();
      display: block;
    }
    .cp-comment .title{
      max-height: 42px;
      height: 42px;
      color: #834C4C;
      @include ellipsis(2);
    }
  }
  ul{
    padding-top: 125px;
  }
}